  <nav class="navbar navbar-default">
    <div id = "green" class="container-fluid">
      
      <div class="navbar-header">
        <ul class="nav navbar-nav list-inline">
          <li>
            <h4 class="navbar-text">Dojo Pong</h4>
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
	      <li><a href="/users/<%=current_user.id%>"><%= current_user.first_name %> <%= current_user.last_name %></a></li>	
          <li><a href="/dashboards/main">Main Dashboard</a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class = "container">
	<h2>Edit Your Profile</h2>


	<div class="row">


	  <!-- Beginning of Helper form  -->
	  <div class = "col-md-8">
	  	<%= form_for @user, :html => {:multipart => true} do |f| %>
		  <%= f.label :first_name %>
		  <%= f.text_field :first_name %>
		  <br>
		  <%= f.label :last_name %>
		  <%= f.text_field :last_name %>
		  <br>
		  <%= f.label :email %>
		  <%= f.text_field :email %>
		  <br>
		  <%= f.label :avatar %>
		  <%= f.file_field :avatar %>
		  <br>
		  <%= f.label :bio %>
		  <br>
		  <%= f.text_area(:bio, size: '60x10') %>
		  <br>
		  <%= f.submit :submit %>
		<% end %>
	  <!-- End of Helper Form -->

	</div>  
	
</div>