<div class = "container">
	
	<!-- Beginning of your About Me of Profile -->
	<div class="row"> 
	  
	  <div class="col-md-8">	
	  	<h3>About Me:</h3>
	  	    <% if flash[:notice] %>
			  <% flash[:notice].each do |n| %>
			    <p><%= n %></p>
			  <% end %>
			<% end %> 	
	  	<p><%= @user.bio %></p>	  	
	  </div>
	  
	  <div class="col-md-4">
	  	
	  	<h3><%= @user.first_name %> <%= @user.last_name %></h3>
	  	<div>
	  		<%= image_tag @user.avatar.url() %>
	  	</div>
	  	<br>
	  	<p><a href="/users/<%= @user.id %>/edit">Edit Profile</a></p>
	  </div>

	</div>
	<!-- The end of your About Me of Profile -->



	<!-- Beinging of Status of your Profile -->
	<div class="row">
	  <div class="col-md-6">
		<h2>Your Current Status:</h2>

		<ul class="list-group">
		  <li class="list-group-item">
		    <span class="badge"><%= @user.rank %></span>
		    Ranking Status: 
		  </li>
		  <li class="list-group-item">
		    <span class="badge"><%= @user.win %></span>
		    How many times you have won: 
		  </li>
		  <li class="list-group-item">
		    <span class="badge"><%= @user.loss %></span>
		    How many times you have loss: 
		  </li>
		</ul>

	  </div>	
	</div>
	<!-- End of the Status of your Profile -->


</div>