   <nav class="navbar navbar-default">
    <div id = "green" class="container-fluid">
      
      <div class="navbar-header">
        <ul class="nav navbar-nav list-inline">
          <li>
            <h4 class="navbar-text">Dojo Pong</h4>
          </li>
          <li>
            <ul class="navbar-text list-inline">
              <li>rank: <%= current_user.rank %></li>
              <li>win: <%= current_user.win %></li>
              <li>loss: <%= current_user.loss %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">  
          <li><a href="/users/<%=current_user.id%>"><%= current_user.first_name %> <%= current_user.last_name %></a></li>
          <li><a href="/">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">  
<!-- START MAIN -->
  <div id="main" class="row">
    <!-- RANKINGS -->
    <div class="col-md-6">
      <h1 class="text-center">Player Rankings</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Wins</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @players %>
            <% @players.each do |playa| %>
            <tr>
              <td><%=playa.rank%></td>
              <td><a href="/users/<%=playa.id%>"><u><%=playa.first_name%> <%=playa.last_name%></u></a></td>
              <td><%=playa.win%></td>
              <td>
                <ul class="list-inline">
                  <% if playa.rank == 1 %>
                  <li>
                    <p>Current Champion!</p>
                  </li>
                  <% end %>
                  <!-- FORM FOR CREATE/DESTROY -->
                  <% if playa.rank == current_user.rank-1 %>
                  <li>
                    <% if @challenge.present? %>
                      <form action="/matches/<%= @challenge.last.id%>" method="post">
                        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="submit" class = "btn btn-default btn-success"  value="Cancel" />
                      </form>
                    <% else %>
                      <form action="/matches" method="post">
                        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                        <input type="hidden" name="match[opponent_id]" value="<%=playa.id%>">
                        <input type="hidden" name="match[status]" value="pending">
                        <input type="hidden" name="match[match_type]" value="private">
                        <input type="submit" class = "btn btn-default btn-success" value="Challenge!" />
                      </form>
                    <% end %>
                  <% end %>
                  </li>
                  <!-- END CREATE/DESTROY -->
                  <!-- ACCEPT/DENY -->
                  <% if playa.rank == current_user.rank %>
                    <% if @pending %>
                      <li>
                        <p><%=@challenger.first_name%> challenged you!</p>
                        <form action="/matches/<%= @pending.id%>" method="post">
                          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                          <input type="hidden" name="_method" value="patch" />
                          <input type="submit" class = "btn btn-default btn-success"  name="click" value="Accept" />
                          <input type="submit" class = "btn btn-default btn-success"  name="click" value="Deny" />
                        </form>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- END ACCEPT/DENY -->
                </ul>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- DISCUSSION -->
    <div class="col-md-6">
      <h1 class="text-center">Discussion Board</h1>
      <div id="discussion_box" class="form-control" style="width:100%; height:450px; overflow:auto;">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <% if comment.user == current_user %>
              <div class="list-group text-right">
                <h4><%=comment.user.first_name%><br /><small> sent at <%= comment.created_at.strftime("%a %b %e %I:%M%p") %></small></h4>
                <p><%=comment.comment%></p>
              </div>
            <% else %>
              <div class="list-group">
                <h4><%=comment.user.first_name%><br /><small> sent at <%= comment.created_at.strftime("%a %b %e %I:%M%p") %></small></h4>
                <p><%=comment.comment%></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <span id='bottom'></span>
      </div><br />
      <div>
        <form action="/comments/create" method="post">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
          <textarea class="form-control" rows="3" style="width:100%" name="comment[comment]" placeholder="Post a Comment!"></textarea><br />
          <div class="text-right">
            <input class="btn btn-success text-right" type="submit" value="Post Comment" />
          </div>
        </form>
      </div>
    </div>
  </div>



</div>
